.ap-parrafo {
  background-color: aqua; }

.ap-centrar-texto {
  text-align: center; }

.jumbotron {
  background-color: #fa9c19;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px; }

.ap-footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #fa9c19;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-soluciones {
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 0px;
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 10px; }

.ap-btn-sol {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px; }

.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }
