$orange:#fa9c19;
$verde: #07b561;
$rojo: #e6290b;


@mixin margenes($top,$botton) {
    margin-top: $top;
    margin-bottom: $botton;
}

@mixin padings($top,$right,$botton,$left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $botton;
    padding-left: $left;
}

.ap-parrafo{
    background-color: aqua;
    
}
.ap-centrar-texto{
    text-align: center;
}
.jumbotron{
    background-color: $orange;
    color: white;
    @include margenes(50px,0px);    

}
.ap-footer{
    @include padings(10px,10px ,0px ,10px );    
    background-color: $orange;    
    color: white;
    @include margenes(10px,0px);    
}
.card-soluciones{
    @include padings(2px,0px ,2px ,0px );
    flex: 1 150px;
    @include margenes(10px,0px);        
    margin-left: 10px;
}
.ap-btn-sol{
    width: 100%;
    border-radius: 0px;

}
.footer-address-icon{
    @include padings(0px,10px ,0px ,0px );    
}
.tab-content{
    @include padings(10px,0px ,0px ,0px );        
}